.Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.Label {
  color: white;
  font-size: calc(6px + 1vmin);
}

.TextArea {
  height: 7.5rem;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: calc(5px + 1vmin);
  resize: none;
  outline: none;
}

.TextArea:focus {
  background-color: #f7fffc;
  border: 2px solid #55aa8d;
}

.Button {
  background-color: #b2cce5;
  padding: 0.5em;
  border: 1px solid #b2cce5;
  border-radius: 4px;
  font-size: calc(8px + 1vmin);
  color: #282c34;
  cursor: pointer;
}

.Button:hover {
  background-color: #282c34;
  color: #b2cce5;
}
